.idea
.project
.metadata
.classpath
.settings
.log

RemoteSystemsTempFiles
target
logs

catalog.xml
nb-configuration.xml
nbactions.xml

*.idea
*.classpath
*.settings
*.iml
*.project
*.log
x---*.*
/.gtm/
